html, body {
	font-family: Helvetica;
	color: #333;
}
#content {
	margin-right: auto;
	margin-left: auto;
	width: 70%;
}
#content #publish ul {
	list-style-type: none;
}
#content #publish ul li {
	display: inline-block;
	padding: 5px 7px;
	background-color: #2396FF;
	border-radius: 4px;
	color: #ffffff;
	cursor: pointer;
}