html {
	background-color: #111;
}
html, body {
	font-family: Helvetica;
	color: #ffffff;
}
body {
	margin: 0;
}
#content {
	margin: 0 auto 0 auto;
	width: 90%;
}
#content div ul {
	list-style-type: none;
}
#content div ul li {
	display: inline-block;
	padding: 5px 7px;
	border-radius: 4px;
	color: #ffffff;
	cursor: pointer;
}



#navbar {
	margin: 0 0 50px 0;
	width: 100%;
}
#navbar #nav-inner {
	margin: 0 auto 0 auto;
	padding: 10px 0;
	width: 90%;
}
#navbar #nav-inner h1 {
	margin: 0;
}
#navbar #nav-inner + hr {
	margin: 0;
	border-color: #333;
}



#content #publish {
	float: left;
}
#content #publish ul li {
	background-color: #2396FF;
}


#content #stream {
	float: right;
	text-align: right;
} 
#content #stream ul li:first-child {
	background-color: #2C9448;
}
#content #stream ul li:last-child {
	background-color: #FF5540;
}
#content #stream ul li i {
	padding: 5px 8px;
	font-size: 30px;
}
#content #stream #mjpeg {
	width: 640px;
	height: 480px;
	background-color: #222;
}
#content #stream + hr {
	clear: both;
	border-color: #333;
}



#content #instructions {
	float: left;
	clear: both;
	margin: 50px 0 0 0;
}
#content #instructions ol li p {
	font-size: 13px;
}
#content #instructions ol li p:nth-child(2) {
	padding: 9px 10px;
	background-color: #888;
	border: 1px solid #89ACFF;
	border-radius: 4px;
	font-family: Courier;
	color: #222;
}