html, body {
	font-family: Helvetica;
	color: #333;
}
#content {
	margin-right: auto;
	margin-left: auto;
	width: 70%;
}
#content div ul {
	list-style-type: none;
}
#content div ul li {
	display: inline-block;
	padding: 5px 7px;
	border-radius: 4px;
	color: #ffffff;
	cursor: pointer;
}
#content #publish ul li {
	background-color: #2396FF;
}
#content #subscribe ul li:first-child {
	background-color: #2C9448;
}
#content #subscribe ul li:last-child {
	background-color: #FF5540;
}